h1 {
    color: blue;
}

label {
    font-weight: bold;
    font-style: italic;
}

.jumbotron {
    min-height: 100vh;
}

.table td, .table th {
    vertical-align: middle;
}

hr {
    background-color: #ddd;
}

.fotito{
    width: auto;
    max-height: 5rem;
}